<h1>All Articles</h1>

<%= link_to 'New Article', new_article_path %>

<% @articles.each do |a| %>
  <p>
    <strong>Title:</strong>
    <%= a.title %>
  </p>
  <p>
    <strong>Text:</strong>
    <%= a.text %>
  </p>
  <hr>
<% end %>
